
    <mat-toolbar>
      &nbsp;
      &nbsp;
      &nbsp;
      <span id="home" routerLink="/home">HOME</span>
      <span class="example-spacer"></span>
      <div class="example-button-row">
        <button id="cadastrar" color="primary" class="large-button" routerLink="/cadastro">Cadastrar</button>
      </div>
    </mat-toolbar>
    <div class="center-button-container">
      <button id="acessar" color="accent" class="large-button" routerLink="/login">Acessar</button>
    </div>
    <app-footer></app-footer>
 